@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color1: rgb(71, 0, 71);
  --color2: darkorchid;
  --color3: black;
}

.bg {
  background-color: var(--color1);
}
.content {
  top: 20%;
}
.titre {
  background-color: var(--color2);
}
.b_tache {
  background-color: var(--color3);
}
.b-radius {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 0;
}
.task {
  font-family: "Noto Sans Mono", monospace;
  margin: 8px auto;
  width: 97%;
}
